@import './blocks/header.css';
@import './blocks/title.css';
@import './blocks/basket.css';
@import './blocks/modal.css';
@import './blocks/mobile.css';
@import 'blocks/media.css';

* {
  font-family: 'Segoe UI';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #6725a8;
}

button {
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
/* Checkbox */
.real-checkbox {
  display: none;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #fff;
  vertical-align: sub;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 11px;
}

.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url('../img/icons/checkmark.svg');

  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  display: block;
}

.real-checkbox:checked + .custom-checkbox {
  transition: 0.2s ease-in;
  background: #cb11ab;
}
/* Radiobutton */
.real-radio {
  display: none;
}
.span-block {
  display: flex;
  align-items: center;
}

.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;

  border: 1px solid grey;
  border-radius: 50%;
  vertical-align: text-top;
}

.real-radio:checked + .span-block > .custom-radio {
  transition: 0.2s ease-in;
  border: 4px solid #cb11ab;
}

.basket__choice-label {
  cursor: pointer;
}

.divider {
  border: 1px solid #dddde1;
}

.divider_mb20 {
  margin-bottom: 20px;
}

.green {
  color: #0cb477;
  margin-left: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.footer__title {
  color: rgba(255, 255, 255, 0.7);
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.error {
  border-color: red;
}

.checkbox-error {
  border: 1px solid red;
}

.basket__blocks-active {
  /* display: none; */
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s;
}

.open {
  display: block;
}

.trash-can-modal {
  cursor: pointer;
}

.form-control {
  position: relative;
}

.form__error-message {
  display: none;
  position: absolute;
  font-size: 12px;
  color: red;
}

.form__error-message_b-20 {
  bottom: -17px;
}
