@media (max-width: 1400px) {
  .basket__way-decs_absolute {
    width: 300px;
  }
}

@media (max-width: 1250px) {
  .basket__wrapper {
    grid-template-columns: 1fr;
  }
  .basket__order {
    margin-top: 30px;
  }
  .basket__way-decs_absolute {
    transform: translateX(-30%);
  }
}

@media (max-width: 800px) {
  .basket__blocks,
  .basket__missing-blocks,
  .header__input,
  .header__icons,
  .header__hamburger {
    display: none;
  }

  .basket__blocks-mobile,
  .basket__missing-blocks-mobile,
  .header__magnifying-glass-mobile,
  .header__hamburger-mobile,
  .basket__missing-size-mobile,
  .menu__mobile {
    display: block;
  }

  .basket__choice-wrapper {
    margin-left: 4px;
  }

  .basket__way-decs_absolute {
    display: block;
  }

  .basket__way-wrapper-info:hover > .basket__way-decs_absolute {
    display: block;
  }

  .basket__missing-block {
    flex-direction: column;
  }

  .header__title {
    width: auto;
    margin: 0 20px;
  }

  .basket__missing-wrapper_right {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .basket__wrapper-sum {
    width: 100%;
  }

  .basket__missing-size-mobile {
    position: absolute;
  }

  .basket__missing-wrapper_left {
    position: relative;
  }

  .basket__form-input {
    margin-top: 30px;
    width: 290px;
  }

  .basket__form-wrapper-mobile,
  .basket__form-wrapper-mobile-1 {
    margin: 0;
    flex-direction: column;
  }

  .basket__input-surname {
    margin-left: 0px;
  }

  .basket__contacts {
    height: 420px;
  }

  .basket__label-telephone {
    font-size: 12px;
    top: -3px;
  }

  .basket__input-telephone-wrapper,
  .basket__input-telephone-wrapper {
    margin-top: 30px;
  }

  .basket__contacts-block {
    margin-top: 8px;
  }

  .basket__input-name {
    margin-top: 16px;
  }

  .basket__form-input {
    margin-top: 30px;
    width: 100%;
  }

  .basket__input-telephone {
    margin-top: 16px;
  }

  .basket__way-paragraph {
    flex-direction: column;
  }

  .basket__way {
    height: 512px;
  }

  .basket__way-products {
    margin-top: 12px;
  }

  .basket__order {
    background: none;
    box-shadow: none;
    /* padding: 24px; */
    height: auto;
  }

  .basket__reverse-wrapper,
  .basket__payment-block {
    background: #f0ecf4;
  }

  .basket__paragraph-wrapper,
  .basket__paragraph-text,
  .basket__paragraph-number,
  .basket__payment-wrapper,
  .basket__card-wrapper {
    display: none;
  }

  .basket__wrapper {
    padding: 50px 30px 0 30px;
  }

  .header__hamburger-mobile {
    display: flex;
  }

  .header__magnifying-glass-mobile,
  .header__hamburger-mobile {
    display: flex !important;
  }

  .header__wrapper {
    margin: 0px 13px;
  }
}

@media (max-width: 600px) {
  .basket__way-decs_absolute {
    left: 30px;
  }
}

@media (max-width: 500px) {
  .modal-2 {
    max-width: 100%;
    position: relative;
    height: 100%;
    border-radius: 0px;
  }

  .modal__extradition {
    margin-right: 4px;
  }
  .modal__courier {
    margin-left: 4px;
  }
  .modal-wrapper__choice-block {
    align-items: flex-start;
  }

  .choice-block__number {
    display: none;
  }
  .choice-block__number-1 {
    display: block;
  }

  .choice-block__number-modal,
  .modal-choice__wrapper {
    display: block;
  }

  .modal-choice__wrapper {
    display: flex;
  }

  .modal-choice__wrapper-title {
    margin-left: 5px;
  }

  .modal-2__btn {
    width: 90%;
    position: absolute;
    bottom: 16px;
  }

  .modal-label {
    align-items: flex-start;
  }

  .custom-radio_mt5 {
    margin-top: 5px;
  }

  .basket__way-decs_absolute {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .basket__description,
  .basket__missing-description {
    width: 190px;
  }

  .basket__sum {
    font-size: 16px;
  }

  .basket__description-title,
  .basket__way-text-desc {
    font-size: 13px;
  }

  .basket__discount {
    font-size: 12px;
  }

  .basket__way-text-desc,
  .basket__way-text-time {
    margin-top: 4px;
  }

  .basket__way-reverse,
  .basket__way-text-time {
    font-size: 12px;
  }

  .basket__way {
    height: 512px;
  }

  .basket__way-title {
    font-size: 17px;
  }

  .basket__way-choice,
  .basket__option-change {
    font-size: 14px;
  }

  .basket__option-title {
    font-size: 17px;
  }

  .header__title {
    font-size: 18px;
    margin: 0 10px;
  }

  .basket__access-text {
    font-size: 13px;
  }

  .basket__wrapper {
    padding: 0;
  }

  /* .basket__left-side {
    padding: 16px;
  } */

  .basket__order {
    padding: 0 16px 16px;
  }

  .basket__total-wrapper {
    font-size: 20px;
  }

  .basket__missing_p16 {
    padding: 0 16px;
  }

  .basket__left-side_p16 {
    padding: 20px 16px 0 16px;
  }
}

@media (max-width: 400px) {
  .modal {
    position: relative;
    height: 100%;
    border-radius: 0px;
    width: 100%;
  }
  .modal-btn {
    width: 90%;
    position: absolute;
    bottom: 16px;
  }

  .modal__button-wrapper {
    display: flex;
    justify-content: center;
  }
}
